.product__media-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: var(--object-position);
    border-radius: 5px;
}

@media screen and (max-width: 749px) {
    .discovery-hero .product__info-container {
        text-align: center;
    }

    .discovery-hero .product-form__buttons {
        margin: auto;
    }
}