.how-it-works__inner-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.how-it-works__image-wrapper--second {
   order: 2;
}

.how-it-works__image-wrapper {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.how-it-works__image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.how-it-works__header {
    margin-bottom: 4rem;
}

.how-it-works__block {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.loop_counter {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-highlight);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    flex-shrink: 0;
    font-family: var(--counter-font);
}

.loop_counter.numbered {
    background-color: transparent;
    color: var(--color-highlight);
    border: none;
    width: fit-content;
    height: fit-content;

}

.loop-counter-small {
    font-size: 24px;
}

.loop-counter-medium {
    font-size: 40px;
}

.loop-counter-large {
    font-size: 65px;
}

.how-it-works__block-title {
    margin-bottom: 10px;
    margin-top: 0;
}

@media screen and (max-width: 980px) {
    .how-it-works__inner-wrapper {
        grid-template-columns: 1fr;
    }

  
}